<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <style>
        img {
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
                transform: scale(0) rotate(0deg);
            }
            100% {
                opacity: 1;
                transform: scale(1) rotate(360deg);
                
            }
        }
    </style>

</head>
<body style="background-color: #122a50;">

    <div class="container mt-5" style="text-align: center;">
        <img src="/error-404.png" alt="404 Error" style="width: 90%;">
    </div>

</body>
</html>