<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('navbar') %>

    <div class="container mt-5" id="cv-form">
        <form novalidate>

            <div class="row" style="background-color: #c4cad2; padding-bottom: 5px;">
                <h3 class="text-sm-center alert info-head" style="margin-top: 0px;">Personal Details</h3>
                <div class="col-md-6 first-side">
                    <div class="form-group mt-3">
                        <label for="nameField">Full Name</label>
                        <input type="text" class="form-control" id="nameField" placeholder="Anonymous User" required>
                    </div>

                    <div class="form-group mt-3">
                        <label for="contactField">Contact Number</label>
                        <div class="input-group">
                            <div class="input-group-text">+91</div>
                            <input type="tel" pattern="[0-9]{10}" class="form-control" id="contactField" placeholder="1234567890" required>
                            <div class="invalid-feedback">Please Enter 10-digit number</div>
                            <div class="valid-feedback">Valid phone number</div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                    <label for="">Permanent Address</label>
                    <textarea placeholder="Street: YYY, Area: ZZZ, City : MMM " class="form-control" id="addressField" rows="4" required></textarea>
                    </div>

                    <div class="form-group mt-3">
                        <label for="imageField">Profile Photo</label>
                        <input type="file" class="form-control" id="imageField" required>
                        <div class="invalid-feedback">Please select an appropriate file</div>
                        <div class="valid-feedback">Valid File</div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="emailField">Email</label>
                        <input type="email" class="form-control" id="emailField" placeholder="example@gmail.com" required>
                        <div class="invalid-feedback">Please Enter a proper Email Id</div>
                        <div class="valid-feedback">Valid Email ID</div>
                    </div>

                    <div class="form-group mt-3" id="hobby">
                        <label for="">Your Hobbies</label>
                        <input type="text" placeholder="Sports, Music, Travelling" 
                        class="form-control hobbyField" required></input>
                        <div class="container text-center mt-2" id="hobbyAddButton">
                            <button onclick="addNewHobbyField()" class="btn btn-sm btn-primary" style="margin-bottom: 5px;">Add</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6 second-side"> 

                    <h5 class="text-body-secondary mt-3" >Connection links</h5>
                    
                    <div class="form-group mt-3">
                        <label for="githubField">GitHub URL</label>
                        <input type="url" class="form-control" id="githubField" placeholder="Drop Link" required>
                        <div class="invalid-feedback">Please enter valid Link</div>
                        <div class="valid-feedback">Valid Link</div>
                    </div>
                    
                    <div class="form-group mt-3">
                        <label for="linkedinField">LinkedIn URL</label>
                        <input type="url" class="form-control" id="linkedinField" placeholder="Drop Link" required>
                        <div class="invalid-feedback">Please enter valid Link</div>
                        <div class="valid-feedback">Valid Link</div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="facebookField">Facebook URL</label>
                        <input type="url" class="form-control" id="facebookField" placeholder="Drop Link" required>
                        <div class="invalid-feedback">Please enter valid Link</div>
                        <div class="valid-feedback">Valid Link</div>
                    </div>

                    <div class="form-group mt-3" id="language">
                        <label for="">Languages </label>
                        <input type="text" placeholder="English, Germany, Spanish" 
                        class="form-control languageField" required></input>
                        <div class="container text-center mt-2" id="languageAddButton">
                            <button onclick="addNewLanguageField()" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>
                    
                </div>

                <h3 class="text-sm-center alert info-head">Professional Details</h3>
                <div class="col-md-6 mb-2 first-side" >

                    <div class="form-group mt-3">
                        <label for="roleField">Current Role</label>
                        <input type="text" class="form-control" id="roleField" placeholder="Web-developer, Java Developer, UI-UX Designer" required>
                    </div>

                    <div class="form-group mt-3">
                        <label>Objective</label>
                        <textarea placeholder="To secure a challenging position in a reputable organization to expand my learnings, knowledge, and skills." 
                        class="form-control" id="objectiveField" rows="4" required></textarea>
                    </div>

                    <div class="form-group mt-2" id="we">
                        <label for="">Work Experience</label>
                        <textarea placeholder="Manager, Accountant, Developer" 
                        class="form-control weField" 
                        rows="3" required></textarea>
                        <div class="container text-center mt-2" id="weAddButton">
                            <button onclick="addNewWEField()" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>

                    <!-- Educational Details -->
                    <div class="form-group mt-2" id="ed">
                        <label for="">Educational Details</label>
                        <textarea placeholder="Secondary-Education, B.E, B.A, M.Tech" 
                        class="form-control edField" 
                        rows="3" required></textarea>
                        <div class="container text-center mt-2" id="edAddButton">
                            <button onclick="addNewEDField()" class="btn btn-sm btn-primary" style="margin-bottom: 7px;">Add</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mb-2 second-side"> 
                    <div class="form-group mt-3" id="skill">
                        <label for="">Experties / Skills</label>
                        <input type="text" placeholder="Web-development, Machine-learning, UI-UX Designer" 
                        class="form-control skillField" required></input>
                        <div class="container text-center mt-2" id="skillAddButton">
                            <button onclick="addNewSkillField()" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>

                    <!-- Projects and Certifications -->
                    <div class="form-group mt-3" id="project">
                        <label for="">Projects and Certifications</label>
                        <input type="text" placeholder="Major and Minor Projects, Coursera, NPTEL" 
                        class="form-control projectField" required></input>
                        <div class="container text-center mt-2" id="projectAddButton">
                            <button onclick="addNewProjectField()" class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>

                    <div class="form-groupmt-3">
                        <label>About me</label>
                        <textarea placeholder="A small note about yourself." 
                        class="form-control" id="aboutme" rows="5" required></textarea>
                    </div>

                </div>
            </div>
        </form>
        <div class="container text-center m-3">
            <button class="btn text-bg-success next-page">Next</button>  
        </div>
        <hr>  
    </div>

<!-- Next page -->

    <div id="next" style="background-color: rgb(255, 246, 235);display: none;">

        <h1 style="margin: 15px 30vw;">Select a template to Download</h1>

        <div style="display: flex;justify-content: center;margin-top: 20px;">

            <div class="col-md-5" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                <img class="imgT" src="/imgT1.png" alt="template-1" style="height: 450px;width: 450px;margin-bottom: 15px;">
                <button onclick="generateResume(1)">Generate Template 1</button>
            </div>
            <div class="col-md-5" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                <img class="imgT" src="/imgT2.png" alt="template-2" style="height: 450px;width: 450px;margin-bottom: 15px;">
                <button onclick="generateResume(2)">Generate Template 2</button>    
            </div>

        </div>
    </div>
<!-- ----------------------------------------------- Resume template 1 ----------------------------------------------------------------------------------------- -->

<!-- Template 1 -->

    <div id="cv-template1" style="display: none; margin: 20px 70px;">
        <div class="row" id="resume-template_1">
            <div class="col-md-4 text-center p-4 " style="background-color: rgb(18, 18, 104); color: aliceblue; font-size: 22px;">
                <!-- fPersonal info -->
                <img class="img-fluid profile" id="imageT1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzCb4DonWw5pT1-A3Su9HzG6TTN4nMOmj7tg&usqp=CAU" alt="profile photo">
                <div class="container m-2 pt-5">
                    <p id="emailT1">Email</p>
                    <p id="contactT1">Contact number</p>
                    <p id="addressT1">Address : Bangalore</p>
                </div>
                <hr style="background-color: rgb(255, 255, 255); height: 2.5px;">
                <div class="container hide">
                    <p><i style="color: rgb(28, 38, 63);" class=" fa  fa-2x fa-github bg-light"></i> GitHub <br> <a id="githubT1" href="#"></a></p>
                    <p><i class=" fa fa-2x fa-linkedin" style="color: #3f7ae0;"></i> LinkedIn  <br><a id="linkedinT1" href="#"></a></p>
                    <p><i class="fa fa-2x fa-brands fa-facebook-f" style="color: #2b69d4;"></i> Facebook <br> <a id="facebookT1"href="#"></a></p>
                </div>

                <div class="card mt-4">
                    <div class="card-header" id="listHeader"><h6>Hobbies</h6></div>
                    <div class="card-body">
                        <ol id="hobbyT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ol>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header" id="listHeader"><h6>Languages</h6></div>
                    <div class="card-body">
                        <ol id="languageT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ol>
                    </div>
                </div>

            </div>

            <div class="col-md-8 py-5" style="background-color: rgb(208, 198, 185);">
                <!-- professional info -->
                <!-- Role -->
                <div class="container bg-success text-center">
                    <h1 class="text-capitalize" id="nameT1">Full Name</h1>
                    <h4 class="text-capitalize" id="roleT1">Current Role</h4>
                </div>

                <!-- About me -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>About Me</h3></div>
                    <div class="card-body"><p id="aboutmeT1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur dignissimos error illum dicta est reiciendis amet dolorum doloribus quae, reprehenderit ullam aperiam odit accusamus officia hic id magni! Asperiores.</p></div>
                </div>

                <!-- objective -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>Objective</h3></div>
                    <div class="card-body"><p id="objectiveT1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur dignissimos error illum dicta est reiciendis amet dolorum doloribus quae, reprehenderit ullam aperiam odit accusamus officia hic id magni! Asperiores.</p></div>
                </div>

                <!-- work Experinence -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>Work Experience</h3></div>
                    <div class="card-body">
                        <ul id="weT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ul>
                    </div>
                </div>

                <!-- Educational Details -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>Educational Details</h3></div>
                    <div class="card-body">
                        <ul id="edT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ul>
                    </div>
                </div>
                

                <!-- Skills and Experties -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>Skill and Expertise</h3></div>
                    <div class="card-body">
                        <ul id="skillT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ul>
                    </div>
                </div>

                <!-- Projects and certifications -->
                <div class="card mt-4">
                    <div class="card-header" id="cardHeader"><h3>Projects and Certification</h3></div>
                    <div class="card-body">
                        <ul id="projectT1">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="container mt-3 text-center" id="hide_1">
            <button onclick="printResume(1)" class="btn btn-primary">Print</button>
            <button onclick="Export2Word('resume-template_1');" class="btn btn-primary">Export as .doc</button>
            <button onclick="convertHTMLtoPDF('resume-template_1')" class="btn btn-primary">Export as PDF</button>
        </div>
    </div>

<!-- Template 2 -->

    <div id="cv-template2" style="display: none; margin-top: 15px;">
        <div class="template-2">
            <div class="" id="resume-template_2">
                <div class="text-center p-4 " style="background-color: rgb(234, 234, 241); color: aliceblue; font-size: 22px;">
                    <!-- Personal info -->
                    <img class="img-fluid profile" id="imageT2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzCb4DonWw5pT1-A3Su9HzG6TTN4nMOmj7tg&usqp=CAU" alt="profile photo">
                    
                    <!-- Role -->
                    <div class="container bg-success text-center m-2">
                        <h1 class="text-capitalize" id="nameT2">Full Name </h1>
                        <h4 class="text-capitalize" id="roleT2">Current Role</h4>
                    </div>
    
                    <div class="container m-2 pt-2 pb-1" style="background-color: rgb(189, 202, 202); color: rgb(51, 47, 47);">
                        <p id="emailT2">Email</p>
                        <p id="contactT2">Contact number</p>
                        <p id="addressT2">Address : Bangalore</p>
                    </div>
    
                    <hr style="background-color: rgb(255, 255, 255); height: 2.5px;">

                    <div class="container hide pt-2 pb-1" style="background-color: rgb(189, 202, 202); color: rgb(51, 47, 47);">
                        <p><i style="color: rgb(28, 38, 63);" class=" fa  fa-2x fa-github bg-light"></i> GitHub<br> <a id="githubT2" href="#"></a></p>
                        <p><i class=" fa fa-2x fa-linkedin" style="color: #3f7ae0;"></i> LinkedIn  <br><a id="linkedinT2" href="#"></a></p>
                        <p><i class="fa fa-2x fa-brands fa-facebook-f" style="color: #2b69d4;"></i> Facebook <br> <a id="facebookT2"href="#"></a></p>
                    </div>
        
                    <div class="row" style="justify-content: center;">
                        <div class="col-md-5 card mt-4">
                            <div class="card-header" id="listHeader"><h6>Hobbies</h6></div>
                            <div class="card-body">
                                <ol id="hobbyT2">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem, ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ol>
                            </div>
                        </div>
            
                        <div class="col-md-5 card mt-4 " style="margin-left: 10px;">
                            <div class="card-header" id="listHeader"><h6>Languages</h6></div>
                            <div class="card-body">
                                <ol id="languageT2">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem, ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ol>
                            </div>
                        </div>
                    </div>
        
                </div>
    
                <hr style="margin: 2px;">
        
                <div class="py-3" style="background-color: rgb(208, 198, 185);">
                    <!-- professional info -->
                    <h2>Professional Details</h2>

                    <div class="card mt-4">
                        <div class="card-header" id="cardHeader"><h3>About Me</h3></div>
                        <div class="card-body"><p id="aboutmeT2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur dignissimos error illum dicta est reiciendis amet dolorum doloribus quae, reprehenderit ullam aperiam odit accusamus officia hic id magni! Asperiores.</p></div>
                    </div>
                    <!-- objective -->
                    <div class="card" style="margin:0 4px 0 4px;">
                        <div class="card-header" id="cardHeader"><h3>Objective</h3></div>
                        <div class="card-body"><p id="objectiveT2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis tenetur dignissimos error illum dicta est reiciendis amet dolorum doloribus quae, reprehenderit ullam aperiam odit accusamus officia hic id magni! Asperiores.</p></div>
                    </div>
        
                    <!-- work Experinence -->
                    <div class="card" style="margin:4px 4px 0 4px;">
                        <div class="card-header" id="cardHeader"><h3>Work Experience</h3></div>
                        <div class="card-body">
                            <ul id="weT2">
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                            </ul>
                        </div>
                    </div>
        
                    <!-- Educational Details -->
                    <div class="card "style="margin:4px 4px 0 4px;">
                        <div class="card-header" id="cardHeader"><h3>Educational Details</h3></div>
                        <div class="card-body">
                            <ul id="edT2">
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                            </ul>
                        </div>
                    </div>
                    
        
                    <!-- Skills and Experties -->
                    <div class="card "style="margin:4px 4px 0 4px;">
                        <div class="card-header" id="cardHeader"><h3>Skill and Expertise</h3></div>
                        <div class="card-body">
                            <ul id="skillT2">
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                            </ul>
                        </div>
                    </div>
        
                    <!-- Projects and certifications -->
                    <div class="card" style="margin:4px 4px 0 4px;">
                        <div class="card-header" id="cardHeader"><h3>Projects and Certification</h3></div>
                        <div class="card-body">
                            <ul id="projectT2">
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum?</li>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, beatae!</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi.</li>
                            </ul>
                        </div>
                    </div>
        
                </div>
            </div>

            <div class="container mt-3 text-center" id="hide_2">
                <button onclick="printResume(2)" class="btn btn-primary">Print</button>
                <button onclick="Export2Word('resume-template_2');" class="btn btn-primary">Export as .doc</button>
                <button onclick="convertHTMLtoPDF('resume-template_2')" class="btn btn-primary">Export as PDF</button>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
        
    <script src="script.js"></script>
    <script src="html2pdf.bundle.min.js"></script>

    <script src=
 "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
    </script>
    <script src=
 "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
    </script>

</body>
</html>